@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-Hairline.otf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-UltraLight.otf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-Light.otf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-Regular.otf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-SemiBold.otf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-Bold.otf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-ExtraBold.otf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family:'Montserrat';
	src: url('montserrat/Montserrat-Black.otf') format('truetype');
	font-weight: 800;
}



body {
  padding-top: 75px;
  height: 100%;

	background: #f7f7f7 /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#f7f7f7, #fff, #f7f7f7); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f7f7f7, #fff, #f7f7f7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f7f7f7, #fff, #f7f7f7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f7f7f7, white 60%, #f7f7f7); /* Standard syntax */

  font-family: 'Montserrat';
  z-index: 10;
}

html {
	height:100%;
}

.wrapper {
	position: relative;
	min-height:100%;
}

#main {
	/*padding-top: 65px;*/
  padding-bottom: 65px;
}

.footer {
	height: 65px;
	background-color: white;
	padding: 15px 0;
	border-top: 1px solid #cccccc;
	position: absolute;
	bottom:0;
	width: 100%;
}

.footer .text {
	font-weight:300;
	font-size:12px;
	color: #878787;
	line-height: 1;
}

.footer .link {
	color: #d85722;
	font-weight:300;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:.75px;
}

.footer .link:hover {
	text-decoration:none;
	font-weight:400;
	cursor: pointer;
}

.footer .logo {
	color: #d85722;
	font-weight: 600;
	padding-top:10px;
	font-size: 18px;
	text-transform:uppercase;
	float:right;
}

.navbar {
	background-color: #fff;
	height: 65px;
	box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.07);
}

#navbar-text {
	color: #e16a37;
	padding-top: 20px;
	font-weight: 600;
	font-size: 18px;
	text-transform:uppercase;
}


.navbar-right-text {
	color: #e16a37;
	padding-top: 20px;
	font-weight: 300;
	cursor:pointer;
}

.navbar-right-text:after{
	content: " | ";
	color: #d3d3d3;
	padding:0 20px;
}

.navbar-right-text:last-child:after {
    content: "";
}

.toggle {
	margin-top:5px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:300;
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	border:1px solid #f7f7f7;
}
.inactive {
	background-color: #e7e7e7;
	color: #6e6e6e;
}
.active {
	background: #f58000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d75426, #f58000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d75426, #f58000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d75426, #f58000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d75426, #f58000); /* Standard syntax */
    position:relative;
}

.upside-down-triangle {
	position: absolute;
	left:47%;
	bottom:-10px;
	margin-left: auto;
	border-left: 8px solid transparent;
   	border-right: 8px solid transparent;
  	border-top: 10px solid #f58000;
}


#h1{
	color: #6e6e6e;
	text-align: center;
	font-size: 28px;
	font-weight: 200;
}

#h2{
	color: #888888;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	letter-spacing:-.5px;
}

.h3 {
	color: #f47f00;
	font-size:20px;
	font-weight:300;
	padding-left:30px;
	padding-right:30px;
}

.h3:hover {
	text-decoration:none;
}

#explain {
	color: #888;
	font-size:20px;
	font-weight:300;
	max-width: 750px;
	text-align: center;
	margin:auto;
}

.category {
	color: #888;
	font-size:16px;
	font-weight:300;
	max-width: 750px;
	margin:auto;
}

#details {
	color: #666666;
	font-size: 13px;
	font-weight:200;
}

#row1 {
	padding-bottom:50px;
	text-align:center;
	padding-top:50px;
}

#row2 {
	padding-bottom:20px;
	text-align:center;
}

#row3 {
	padding-bottom: 100px;
	padding-left:0px;
	padding-right:0px;
}

#back {
	position:absolute;
	left:0;
	top:10px;
	color: #d85722;
	font-weight:500;
	font-size:16px;
	text-transform:uppercase;
}

#back:hover {
	text-decoration:none;
	font-weight:500;
	cursor: pointer;
}

#side {
	min-height:80px;
	margin-top: 30px;
}

#form {
	margin:0px 50px;
}

#box {
	margin:20px 60px;
	margin-bottom: 40px;
	background-color:#fff;
	border: 2px #ddd solid;
	border-radius:1px;
	padding:30px 20px;
}

.feedback {
	background-color: #f58000;
	margin:auto;
	width:150px;
	height:150px;
	padding:10px;
	text-align:center;
	color:#fff;
	border-radius:75px;
}

#affirm {
	height:20px;
	width:20px;
	background-color:#fff;
	padding-right:10px;
	border-radius:5px;
	box-shadow:none;
}

#t1 {
	color: #6e6e6e;
	font-size: 24px;
	font-weight: 300;
	margin-bottom:20px;
}

.t2 {
	margin-left:20px;
	color: #888888;
	font-size: 20px;
	font-weight: 300;
	margin-bottom:0px;
}

.t3 {
	margin-left:20px;
	color: #666666;
	font-size: 16px;
	font-weight:300;
}

#title {
	color: #888;
	font-size: 20px;
	font-weight: 300;
	padding-bottom:15px;
	margin: 25px 0px;
	border-bottom:1px solid #ddd;
}

#fieldname {
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	letter-spacing:-.5px;
}

.form-group {
	margin-bottom:25px;
}

.form-control {
	width:300px;
	padding:8px 16px;
	height:auto;
	font-size:16px;
	border:1px solid #808080;
	font-weight:400;
	margin-top:10px;
	margin-bottom:40px;
}

.form-control:focus {
	outline:none;
}

.form-control-addon {
	border:none;
	padding: 8px;
	width:270px;
}

.form-control-addon:focus {
	outline:none;
}


.input-group {
	width:300px;
	padding:0px;
	height:auto;
	font-size:16px;
	border:1px solid #808080;
	background-color:#fff;
	border-radius:4px;
	font-weight:400;
	margin-top:10px;
	margin-bottom:40px;
}

.input-group-addon {
	background-color:#fff;
	height:auto;
	font-size:16px;
	border:none;
	padding:8px 16px;
	padding-right:0px;
}

#minus {
	height: 40px;
	width: 70px;
	float:right;
	padding-right:30px;
	cursor: pointer;
}

#plus {
	height: 40px;
	width: 70px;
	float:left;
	padding-left:30px;
	cursor: pointer;
}

#value {
	font-size: 64px;
	font-weight:200;
	border: 2px solid #ddd;
	border-radius:15px;
	box-shadow: 1px 1px 5px 0px #ddd;
	color: #0097A9;
	padding: 0px 20px;
}

.value_1 {
	font-size: 56px;
	font-weight: 200;
	color: #0097A9;
}

.incorrect {
	color: #c02f2f;
	font-weight: 300;
}


.value_inline {
	font-size: 28px;
	font-weight:300;
	color: #0097A9;
}
.percent {
	font-size: 40px;
	vertical-align:text-top;
	padding-left:5px;
}

.percent_inline {
	font-size:18px;
	vertical-align:top;
	padding-left:2px;
	color: #0097A9;
}

#choice {
	background-color: #fff;
	border: 1px solid #dddddd;
	text-align: center;
	padding:10px;
	margin:auto;
}

.primary {
	background: #f58000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f58000, #d75426); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f58000, #d75426); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f58000, #d75426); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f58000, #d75426); /* Standard syntax */

	text-transform: uppercase;
	color: #fff;
	font-size:14px;
	font-weight:300;
	letter-spacing:.6px;
	min-height: 38px;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 8px;
	border: 0px;
}

.primary:hover {
	box-shadow:1px 3px 5px 0px rgba(110, 110, 110, 0.25);
}

.primary_large:hover {
	box-shadow:1px 3px 5px 0px rgba(110, 110, 110, 0.25);
}

.secondary:hover {
	box-shadow:1px 3px 5px 0px rgba(110, 110, 110, 0.25);
}

.primary_large {
	background: #f58000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f58000, #d75426); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f58000, #d75426); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f58000, #d75426); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f58000, #d75426); /* Standard syntax */

	text-transform: uppercase;
	font-size: 20px;
	letter-spacing:.6px;
	color: #fff;
	min-height: 38px;
	padding: 10px 70px;
	border-radius: 8px;
	border: 0px;
}

.secondary {
	background: #fff;

	text-transform: uppercase;
	color: #f17b30;
	font-size:14px;
	font-weight:400;
	letter-spacing:.6px;
	min-height: 38px;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 8px;
	border: 2px solid #f17b30;
}

.button_med {
	font-size: 16px;
	font-weight: 400;
	letter-spacing:.6px;
	min-height: 48px;
	padding-left:40px;
	padding-right:40px;
	min-width:180px;
}

.modal-content
{
	margin:auto;
    /*width: 60%;*/
    margin-top: 20vh;

    padding: 10px 25px;
    text-align: center;

    background-color: #FFF;
    z-index: 1001; /* Important to set this higher than .modal */

    /*display: none;*/
}

#myModal .modal-dialog
{
    width: 800px;
}


.red {
	background: #FE4847;
	background: -webkit-linear-gradient(#FE4847,#C01A0D);
	background: -o-linear-gradient(#FE4847, #C01A0D);    background: -moz-linear-gradient(#FE4847, #C01A0D);  background: linear-gradient(#FE4847, #C01A0D);
}
.green {
	background: #24AF3F;
	background: -webkit-linear-gradient(#24AF3F, #045410);    background: -o-linear-gradient(#24AF3F, #045410);    background: -moz-linear-gradient(#24AF3F, #045410);    background: linear-gradient(#24AF3F, #045410);
}
.yellow {
	background: #FFCE52;
	background: -webkit-linear-gradient(#FFCE52, #FEA704);    background: -o-linear-gradient(#FFCE52, #FEA704);    background: -moz-linear-gradient(#FFCE52, #FEA704);    background: linear-gradient(#FFCE52, #FEA704);
}
