{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demo Site</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'saving_app/voya-stylesheet.css'%}">


    <!-- Hotjar Tracking Code for https://dry-hamlet-57387.herokuapp.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:240473,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="wrapper">

     <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li id="navbar-text">ZOYA</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="navbar-right-text">Need Help?</li>
          <li id="navbar-right-text">Steps to Save</li>
          <li id="navbar-right-text">About My Plan</li>
          <li id="navbar-right-text">Important Information</li>
        </ul>
      </div>
    </nav>

    <div class="container" id="main">

      <div class="row" id="row1">
        <p id ="h1">Hi <span id="name"></span>, your employer has chosen to automatically enroll you in your plan:</p>
        <p id = "h2">EMPLOYEE RETIREMENT SAVINGS PLAN 401(K)</p>
      </div>
      <div class="row" id="row2">
        <p id ="h1">Did you know you can save more?</p>
      </div>


      <div class="row" id ="row3">
      	<div class="col-md-4">
      		<div id="choice">
      			<div class="row" style="min-height: 125px">
        			<p class="h3">I want to enroll with other choices.</p>
        			<p id="details">Note: This enrollment will cancel your scheduled automatic enrollment.</p>
      			</div>
      			<div class="row">
              <button class = "primary" id="others" type="submit">Select</button>
      			</div>
      		</div>
      	</div>
      	<div class="col-md-4">
      		<div id="choice">
      			<div class="row" style="min-height: 125px">
      			<p class="h3">Let my scheduled automatic enrollment go through.</p>
      			</div>
      			<div class="row">
      			<button class="primary" id="auto" data-toggle="modal" data-target="#myModal2">Select</button>
      			</div>
      		</div>
      	</div>
      	<div class="col-md-4">
      		<div id="choice">
      			<div class="row" style="min-height: 125px">
      			<p class="h3">I do not wish to enroll.</p>
      			</div>
      			<div class="row" data-toggle="modal" data-target="#myModal">
      			<button class="primary" id="no">Select</button>
      			</div>
      		</div>
      	</div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-md-10" style="padding-left:0px">
         <p class="text"><a class="link">Terms of use</a>&nbsp;&nbsp;&nbsp;<span style="color:#cccccc">|</span>&nbsp;&nbsp;&nbsp;<a class="link">Security</a> </p>
         <p class="text">TThis test site was designed by researchers at Carnegie Mellon University and City University of London.</p>
       </div>
       <div class="col-md-2">
         <p class="logo">ZOYA</p>
       </div>
     </div>
   </div>


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <p id="h1" style="color:#f47f00; font-size:32px; line-spacing:1.2; padding: 30px 80px"><span id="name"></span>, are you sure you don't want to save for retirement?</p>
        <p id="h1" style="padding-bottom: 60px; font-size: 24px">You're passing up on the opportunity to save for your future.</p>
        <button class="secondary" style="margin-right:10px" onclick="$('#myModal').modal('toggle');">Cancel</button>
        <button class="primary" id="no_submit" style="margin-left:10px">Submit</button>
        <p id="details" style="padding:20px 0px">Click Submit to submit your choice and return to the survey.</p>
      </div>
    </div>
  </div>

  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <p id="h1" style="color:#f47f00; font-size:32px; line-spacing:1.2; padding: 30px 80px">Congratulations!</p>
        <p id="h1" style="padding-bottom: 60px; font-size: 24px">You have taken the first step towards a secure future.</p>
        <button class="secondary" style="margin-right:10px" onclick="$('#myModal2').modal('toggle');">Cancel</button>
        <button class="primary" id="auto_submit" style="margin-left:10px">Submit</button>
        <p id="details" style="padding:20px 0px">Click Submit to submit your choice and return to the survey.</p>
      </div>
    </div>
  </div>


  </body>

  <script>
  // Other: o, auto: a, no: n
    $(document).ready(function(){
      var startTime = new Date();

      user_id = "{{ user_id }}"
      name = "{{ name }}"
      clicks = "{{ clicks }}"

      $("#name").html(name)
      $("#others").click(function(){
        clicks += "o"
        var endTime = new Date();
        var timeDiff = (endTime - startTime) / 1000;
        $.get("/update", {user_id: user_id, name: name, choice_time: timeDiff}, function(data){
          window.location.href = "{% url 'set'%}"+"?user_id="+user_id+"&name="+name+"&clicks="+clicks
        })
      })
      $("#auto").click(function(){
        clicks += "a"
      })
      $("#no").click(function(){
        clicks += "n"
      })
      $("#no_submit").click(function(){
        var endTime = new Date();
        var timeDiff = (endTime - startTime) / 1000;
        $.get("/update", {user_id: user_id, name: name, choice_time: timeDiff, clicks: clicks,
                          final_choice: "n"}, function(data){
          // SUBMIT TO QUALDRICS
        })
      })
      $("#auto_submit").click(function(){
        var endTime = new Date();
        var timeDiff = (endTime - startTime) / 1000;
        $.get("/update", {user_id: user_id, name: name, choice_time: timeDiff, clicks: clicks,
                          final_choice: "a"}, function(data){
          // SUBMIT TO QUALDRICS
        })
      })
    })

  </script>




</html>
