{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demo Site</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>



    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'saving_app/voya-stylesheet.css'%}">

    <!-- Hotjar Tracking Code for https://dry-hamlet-57387.herokuapp.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:240473,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <!-- Fixed navbar -->
     <nav class="navbar navbar-default navbar-fixed-top">

       <div class="container">
         <ul class="nav navbar-nav navbar-left">
           <li id="navbar-text"><img src="{% static 'saving_app/logo.png'%}" height=30></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li class="navbar-right-text dummy">Need Help?</li>
           <li class="navbar-right-text dummy">Steps to Save</li>
           <li class="navbar-right-text dummy">About My Plan</li>
           <li class="navbar-right-text dummy">Important Information</li>
         </ul>
       </div>
     </nav>

    <div class="container" id="main" style="min-height:100%">

     <div class="row" style="margin:0px 50px">
        <div class="col-md-4 toggle inactive">About Me</div>
        <div class="col-md-4 toggle active">Enrollment Choices<div class="upside-down-triangle"></div></div>
        <div class="col-md-4 toggle inactive">Review & Confirm</div>
       </div>

      <div class="row" id="row1" style="padding-bottom:0px; margin:0px 50px">
        <p id="h1">Here’s what your monthly income in retirement could look like:</p>
        <p id ="explain">Select your savings contribution rate:</p>
      </div>

      <div class="row" id="row1" style="padding:30px; margin:0px 50px">
        <div class="col-md-5" id="side"><img src="{% static 'saving_app/minus.png'%}" id="minus"></div>
        <div class="col-md-2" id="value"><span id="figure" style="color:#d3d3d3">6</span><span id="percent" style="color:#d3d3d3">%</span></div>
        <div class="col-md-5" id="side"><img src="{% static 'saving_app/plus.png'%}" id="plus"></div>
      </div>

      <div class="row" id="row1" style="padding:0px; margin:0px 50px">
        <p id ="explain">Based on your goals and this savings amount,
        <span id="ontrack" style="color:#49b34a">you are on track for retirement!</span>
        <span id="offtrack" style="color:#c02f2f" hidden>you might be short.</span></p>
      </div>

      <div class="row" id="row2" style="padding-top:40px; margin:0px 50px">
        <button class="primary button_med" id="manual_submit" >Go with this choice</button>
        <p id="details" style="padding-top:20px; font-size:14px; font-weight:300">And don't worry, you'll have a chance to review this choice before submission.</p>
      </div>

    </div> <!-- /container -->

 <div class="footer">
   <div class="container">
     <div class="col-md-10" style="padding-left:0px">
        <p class="text"><span class="link dummy">Terms of use</span>&nbsp;&nbsp;&nbsp;<span style="color:#cccccc">|</span>&nbsp;&nbsp;&nbsp;<span class="link dummy">Security</span> </p>
        <p class="text">This test site was designed by researchers at Carnegie Mellon University and City University London.</p>
      </div>
      <div class="col-md-2">
        <p class="logo"><img src="{% static 'saving_app/logo.png'%}" height=30></p>
      </div>
    </div>
  </div>



</body>

    <script>
      $.notify.addStyle('notify', {
        html: "<div style='border-radius: 10px;'><span data-notify-text/></div>",
        classes: {
          base: {
            "white-space": "nowrap",
            "background-color": "#f47f00",
            "padding": "5px"
          }
        }
      })

    </script>

    <script>
    $(document).ready(function(){
      $(window).on('beforeunload', function(){
        return ""
      });

      var startTime = new Date();

      $("#minus").click(function() {
        if (parseInt($("#figure").html()) > 0)
          $("#figure").html(parseInt($("#figure").html()) - 1)
        if (parseInt($("#figure").html()) >= 6){
          $("#ontrack").show()
          $("#offtrack").hide()
        } else {
          $("#ontrack").hide()
          $("#offtrack").show()
        }
        $("#figure").css('color', '#0097A9')
        $("#percent").css('color', '#0097A9')
      })
      $("#plus").click(function() {
        if (parseInt($("#figure").html()) < 75)
          $("#figure").html(parseInt($("#figure").html()) + 1)
        if (parseInt($("#figure").html()) >= 6){
          $("#ontrack").show()
          $("#offtrack").hide()
        } else {
          $("#ontrack").hide()
          $("#offtrack").show()
          }
        $("#figure").css('color', '#0097A9')
        $("#percent").css('color', '#0097A9')
      })
      // Setting up notification of dumb button
      $(".dummy").click(function(){
        $(this).notify("Sorry, this link is non-functional.",
                        { position:"bottom center",
                          autoHideDelay: 5000,
                          className: "notify" })
        }
      )


      user_id = "{{ user_id }}"
      name = "{{ name }}"
      clicks = "y"

      $("#manual_submit").one("click", function(){
        var endTime = new Date()
        var timeDiff = (endTime - startTime) / 1000
        $.get("/update", {user_id: user_id, name: name, set2_time: timeDiff, clicks: clicks}, function(data){
          $(window).off('beforeunload')
          window.location.href = "{% url 'set3'%}"+"?user_id="+user_id+"&name="+name+"&contri="+$("#figure").html()
        })
      })

    })
    </script>


</html>
